{{define "head"}}
    <style>
        h1 { color: #545454; font-size: 1.75em; }
        p { font-size: 1.2em; }
    </style>
{{end}}


{{define "content"}}
    <h1>{{.title}}</h1>
    <p>
        iorem ipsum dolor sit amet, consectetur adipiscing elit. <br>
        Nullam auctor, nisl eget ultricies tincidunt, nunc nisl <br>
        aliquam lorem, vitae luctus nunc lorem eget dolor. <br>
        Nulla facilisi. Nulla facilisi. <br>
        Nulla facilisi. Nulla facilisi. <br>
        Nulla facilisi. Nulla facilisi. <br>
        Nulla facilisi. Nulla facilisi. <br>
        auctor, nisl eget ultricies tincidunt, nunc nisl <br>
        aliquam lorem, vitae luctus nunc lorem eget dolor. <br>
        Nulla facilisi. Nulla facilisi. <br>
        tincidunt, nunc nisl <br>
        aliquam lorem, vitae luctus nunc lorem eget dolor.
    </p>
{{end}}